name: Update Database Wilayah Indonesia

on:
  schedule:
    - cron: "0 17 * * *"
  workflow_dispatch:

jobs:
  update-database:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    services:
      mariadb:
        image: mariadb:lts
        env:
          MYSQL_ROOT_PASSWORD: root_password
          MYSQL_DATABASE: 'wilayah'
          MYSQL_USER: 'wilayah'
          MYSQL_PASSWORD: 'wilayah'
        ports:
          - "3306:3306"
        options: >-
          --health-cmd="mariadb-admin ping -h localhost"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=3

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Run index.ts with Bun
        env:
          MYSQL_ROOT_PASSWORD: root_password
          MYSQL_DATABASE: 'wilayah'
          MYSQL_USER: 'wilayah'
          MYSQL_PASSWORD: 'wilayah'
          DATABASE_URL: 'mariadb://wilayah:wilayah@localhost:3306/wilayah'
        run: |
          bun install
          DATABASE_URL=mariadb://wilayah:wilayah@localhost:3306/wilayah bun run src/index.ts

      - name: Check for changes
        id: check_changes
        run: |
          # Cek apakah ada file yang berubah
          if [ -n "$(git status --porcelain)" ]; then
            echo "Ada perubahan, melakukan commit..."
            git config --global user.name "github-actions[bot]"
            git config --global user.email "github-actions[bot]@users.noreply.github.com"
            git add .
            git commit -m "chore: update database wilayah $(date +%F)"
            # 2. Atur output "changes_exist" menjadi "true"
            echo "changes_exist=true" >> $GITHUB_OUTPUT
          else
            echo "Tidak ada perubahan."
            # Atur output menjadi "false" (opsional, tapi bagus untuk kejelasan)
            echo "changes_exist=false" >> $GITHUB_OUTPUT
          fi

      - name: Push changes
        if: steps.check_changes.outputs.changes_exist == 'true'
        run: |
          git push origin master
